# Data Preparation

In [ ]:
import numpy as np 
import cv2 
import matplotlib.pyplot as plt

In [12]:
import pandas as pd

In [3]:
import os

In [13]:
fact_img=r'Image/Augmented Dataset'

In [14]:
# complete path 
facture_image_path=[]

In [15]:
lables = os.listdir(fact_img)
lables

['Fractured', 'Non-Fractured']

In [16]:
# get dictionary with label names 
label_path_dict=dict.fromkeys(lables)
label_path_dict

{'Fractured': None, 'Non-Fractured': None}

for label in label_path_dict.keys():
    lbl_path=os.path.join(fact_img,label)
    img_path=[os.path.join(lbl_path,img) for img in lbl_path]
    print(img_path)

In [17]:
for label in label_path_dict.keys():
    lbl_path=os.path.join(fact_img,label)
    img_path=[os.path.join(lbl_path,img) for img in os.listdir(lbl_path)]
    label_path_dict[label]=img_path

In [29]:
label_path_dict['Fractured']=label_path_dict['Fractured'][1:]

In [30]:
len(label_path_dict['Fractured'])

4650

In [33]:
pd.DataFrame(label_path_dict)

,Fractured,Non-Fractured
0,Image/Augmented Dataset\Fractured\Fractured_00...,Image/Augmented Dataset\Non-Fractured\Non-Frac...
1,Image/Augmented Dataset\Fractured\Fractured_00...,Image/Augmented Dataset\Non-Fractured\Non-Frac...
2,Image/Augmented Dataset\Fractured\Fractured_00...,Image/Augmented Dataset\Non-Fractured\Non-Frac...
3,Image/Augmented Dataset\Fractured\Fractured_00...,Image/Augmented Dataset\Non-Fractured\Non-Frac...
4,Image/Augmented Dataset\Fractured\Fractured_00...,Image/Augmented Dataset\Non-Fractured\Non-Frac...
...,...,...
4645,Image/Augmented Dataset\Fractured\Fractured_99...,Image/Augmented Dataset\Non-Fractured\Non-Frac...
4646,Image/Augmented Dataset\Fractured\Fractured_99...,Image/Augmented Dataset\Non-Fractured\Non-Frac...
4647,Image/Augmented Dataset\Fractured\Fractured_99...,Image/Augmented Dataset\Non-Fractured\Non-Frac...
4648,Image/Augmented Dataset\Fractured\Fractured_99...,Image/Augmented Dataset\Non-Fractured\Non-Frac...
4649,Image/Augmented Dataset\Fractured\Fractured_99...,Image/Augmented Dataset\Non-Fractured\Non-Frac...

In [39]:
pd.DataFrame(label_path_dict).to_csv('image_labels_paths.csv', index=False)